bodY{
    margin:0;
}
nav{
    display:flex;
    background-color:cyan;
    margin:0px;
    height:60px;
    position:relative;
}
ul li{
    
    display:inline;
    padding:5px;
    
    
}
a{
    text-decoration:none;

}

.rectangle{
    background-color:orange;
    border-radius:20px;
    margin:0 auto ;
    margin-top:10px;
    height:40px;
    align-items:center;
}
.logo{
    position:absolute;
    margin :-20px;
    
}